.title {
    margin-bottom: 20px;
}

.image-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    background: #555;
}

.gallery-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.gallery-image img {
    width: 100%;
    max-height: 450px;

    :hover {
        cursor: pointer;
    }
}

.image-thumbnails {
    display: flex;
    justify-content: space-around;
    overflow: auto;
    overflow-y: hidden;
    padding: 20px;
    background: #DDD;
    border-top: 1px solid #555;
}

.image-thumbnails img {
    width: 70px;
    height: 70px;
    padding: 1px;
    border: 1px solid black;
}